# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Python virtual environment
# ===============================
myenv/

# ===============================
# Python cache & artifacts
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# IDE / OS files
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db


# ADK runtime files
session.db


#Playground Folders
SQLLite Playground
weekend_planner
